
*{
    background-color:#f5f5f5 

}

h1 {
    text-align: center; 
    font-size: 50px; 
    background-color: #b2ebf2;
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    padding: 20px;
}
p{
    font-size: 18px
}
.imagen{
     width: 300px;
     height: 300px;
     padding: 60px;
}
.fo{
    background-color: rgb(206, 206, 203);
    text-align: center;
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    padding: 20px;
}